<h1>Login</h1>
<p>Enter username and Password</p>
<div>
	<%=form_tag(:action => 'attempt_login') do%>
	Email: <%=text_field_tag(:email)%> <br/>
	Password: <%=text_field_tag(:email)%> <br/>
	<%=submit_tag("Login")%>
	<%end%>
</div>

<div>New User? <%=link_to "Register", {:controller => 'profiles', :action => 'new'}%></div>
